{
  "swagger": "2.0",
  "info": {
    "description": "Swagger for Payment Initiation API Specification",
    "version": "v3.2.0",
    "title": "Payment Initiation API-Clone-1",
    "termsOfService": "https://www.openbanking.org.uk/terms",
    "contact": {
      "name": "Service Desk",
      "url": "https://apiwiz.io/legal",
      "email": "ServiceDesk@openbanking.org.uk"
    },
    "license": {
      "name": "open-licence",
      "url": "https://www.openbanking.org.uk/open-licence"
    }
  },
  "host": "openbanking.com",
  "basePath": "/open-banking/v3.1/pisp",
  "tags": [
    {
      "name": "Domestic-Payments",
      "description": "Grouping to handle domestic payments"
    },
    {
      "name": "File-Payments",
      "description": "Grouping to handle file payments"
    },
    {
      "name": "International-Payments",
      "description": "Tag to handle payments related to international"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "consumes": [
    "application/json; charset=utf-8"
  ],
  "produces": [
    "application/json; charset=utf-8"
  ],
  "paths": {
    "/international-scheduled-payments/status": {
      "get": {
        "tags": [
          "International Scheduled Payments"
        ],
        "summary": "Get International Scheduled Payments",
        "operationId": "GetScheduledPayments",
        "parameters": [
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "storeid",
            "in": "query",
            "description": "Store ID",
            "required": true,
            "type": "string",
            "x-example": "201"
          },
          {
            "name": "x-userId",
            "in": "header",
            "description": "User Id of the registered application",
            "required": true,
            "type": "string",
            "x-example": "3e0cb4e66d5152"
          },
          {
            "name": "x-projectId",
            "in": "header",
            "description": "Project Id of the registered application",
            "required": true,
            "type": "string",
            "x-example": "3e0cb4e66d5152"
          },
          {
            "name": "x-teamId",
            "in": "header",
            "description": "Team Id of the registered application",
            "required": true,
            "type": "string",
            "x-example": "3e0cb4e66d5152"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "International Scheduled Payments Read",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "$ref": "#/definitions/OBWriteInternationalScheduledResponse2"
            },
            "schema": {
              "$ref": "#/definitions/OBWriteInternationalScheduledResponse2"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "TPPOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/domestic-payment-consents": {
      "post": {
        "tags": [
          "Domestic Payments"
        ],
        "summary": "Create Domestic Payment Consents",
        "operationId": "CreateDomesticPaymentConsents",
        "parameters": [
          {
            "in": "body",
            "name": "OBWriteDomesticConsent2Param",
            "description": "Default",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OBWriteDomesticConsent2"
            }
          },
          {
            "name": "storeid",
            "in": "query",
            "description": "Store ID",
            "required": true,
            "type": "string",
            "x-example": "201"
          },
          {
            "name": "x-userId",
            "in": "header",
            "description": "User Id of the registered application",
            "required": true,
            "type": "string",
            "x-example": "3e0cb4e66d5152"
          },
          {
            "name": "x-projectId",
            "in": "header",
            "description": "Project Id of the registered application",
            "required": true,
            "type": "string",
            "x-example": "3e0cb4e66d5152"
          },
          {
            "name": "x-teamId",
            "in": "header",
            "description": "Team Id of the registered application",
            "required": true,
            "type": "string",
            "x-example": "3e0cb4e66d5152"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-idempotency-key",
            "in": "header",
            "description": "Every request will be processed only once per x-idempotency-key.  The Idempotency Key will be valid for 24 hours.",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "pattern": "^(?!\\s)(.*)(\\S)$"
          },
          {
            "name": "x-jws-signature",
            "in": "header",
            "description": "A detached JWS signature of the body of the payload.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Domestic Payment Consents Created",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "$ref": "#/definitions/OBWriteDomesticConsentResponse2"
            },
            "schema": {
              "$ref": "#/definitions/OBWriteDomesticConsentResponse2"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "TPPOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/domestic-payment-consents/{ConsentId}": {
      "get": {
        "tags": [
          "Domestic Payments"
        ],
        "summary": "Get Domestic Payment Consents",
        "operationId": "GetDomesticPaymentConsentsConsentId",
        "parameters": [
          {
            "name": "ConsentId",
            "in": "path",
            "description": "ConsentId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeid",
            "in": "query",
            "description": "Store ID",
            "required": true,
            "type": "string",
            "x-example": "201"
          },
          {
            "name": "x-userId",
            "in": "header",
            "description": "User Id of the registered application",
            "required": true,
            "type": "string",
            "x-example": "3e0cb4e66d5152"
          },
          {
            "name": "x-projectId",
            "in": "header",
            "description": "Project Id of the registered application",
            "required": true,
            "type": "string",
            "x-example": "3e0cb4e66d5152"
          },
          {
            "name": "x-teamId",
            "in": "header",
            "description": "Team Id of the registered application",
            "required": true,
            "type": "string",
            "x-example": "3e0cb4e66d5152"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Domestic Payment Consents Read",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "$ref": "#/definitions/OBWriteDomesticConsentResponse2"
            },
            "schema": {
              "$ref": "#/definitions/OBWriteDomesticConsentResponse2"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "TPPOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/domestic-payment-consents/{ConsentId}/funds-confirmation": {
      "get": {
        "tags": [
          "Domestic Payments"
        ],
        "summary": "Get Domestic Payment Consents Funds Confirmation",
        "operationId": "GetDomesticPaymentConsentsConsentIdFundsConfirmation",
        "parameters": [
          {
            "name": "ConsentId",
            "in": "path",
            "description": "ConsentId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Domestic Payment Consents Funds Confirmation Read",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "$ref": "#/definitions/OBWriteFundsConfirmationResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBWriteFundsConfirmationResponse1"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "PSUOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/domestic-payments": {
      "post": {
        "tags": [
          "Domestic Payments"
        ],
        "summary": "Create Domestic Payments",
        "operationId": "CreateDomesticPayments",
        "parameters": [
          {
            "in": "body",
            "name": "OBWriteDomestic2Param",
            "description": "Default",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OBWriteDomestic2"
            }
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-idempotency-key",
            "in": "header",
            "description": "Every request will be processed only once per x-idempotency-key.  The Idempotency Key will be valid for 24 hours.",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "pattern": "^(?!\\s)(.*)(\\S)$"
          },
          {
            "name": "x-jws-signature",
            "in": "header",
            "description": "A detached JWS signature of the body of the payload.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Domestic Payments Created",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "$ref": "#/definitions/OBWriteDomesticResponse2"
            },
            "schema": {
              "$ref": "#/definitions/OBWriteDomesticResponse2"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "PSUOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/domestic-payments/{DomesticPaymentId}": {
      "get": {
        "tags": [
          "Domestic Payments"
        ],
        "summary": "Get Domestic Payments",
        "operationId": "GetDomesticPaymentsDomesticPaymentId",
        "parameters": [
          {
            "name": "DomesticPaymentId",
            "in": "path",
            "description": "DomesticPaymentId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Domestic Payments Read",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "$ref": "#/definitions/OBWriteDomesticResponse2"
            },
            "schema": {
              "$ref": "#/definitions/OBWriteDomesticResponse2"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "TPPOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/domestic-scheduled-payment-consents": {
      "post": {
        "tags": [
          "Domestic Scheduled Payments"
        ],
        "summary": "Create Domestic Scheduled Payment Consents",
        "operationId": "CreateDomesticScheduledPaymentConsents",
        "parameters": [
          {
            "in": "body",
            "name": "OBWriteDomesticScheduledConsent2Param",
            "description": "Default",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OBWriteDomesticScheduledConsent2"
            }
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-idempotency-key",
            "in": "header",
            "description": "Every request will be processed only once per x-idempotency-key.  The Idempotency Key will be valid for 24 hours.",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "pattern": "^(?!\\s)(.*)(\\S)$"
          },
          {
            "name": "storeid",
            "in": "query",
            "description": "Store ID",
            "required": true,
            "type": "string",
            "x-example": "201"
          },
          {
            "name": "x-userId",
            "in": "header",
            "description": "User Id of the registered application",
            "required": true,
            "type": "string",
            "x-example": "3e0cb4e66d5152"
          },
          {
            "name": "x-projectId",
            "in": "header",
            "description": "Project Id of the registered application",
            "required": true,
            "type": "string",
            "x-example": "3e0cb4e66d5152"
          },
          {
            "name": "x-teamId",
            "in": "header",
            "description": "Team Id of the registered application",
            "required": true,
            "type": "string",
            "x-example": "3e0cb4e66d5152"
          },
          {
            "name": "x-jws-signature",
            "in": "header",
            "description": "A detached JWS signature of the body of the payload.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Domestic Scheduled Payment Consents Created",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "$ref": "#/definitions/OBWriteDomesticScheduledConsentResponse2"
            },
            "schema": {
              "$ref": "#/definitions/OBWriteDomesticScheduledConsentResponse2"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "TPPOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/domestic-scheduled-payment-consents/{ConsentId}": {
      "get": {
        "tags": [
          "Domestic Scheduled Payments"
        ],
        "summary": "Get Domestic Scheduled Payment Consents",
        "operationId": "GetDomesticScheduledPaymentConsentsConsentId",
        "parameters": [
          {
            "name": "ConsentId",
            "in": "path",
            "description": "ConsentId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Domestic Scheduled Payment Consents Read",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "$ref": "#/definitions/OBWriteDomesticScheduledConsentResponse2"
            },
            "schema": {
              "$ref": "#/definitions/OBWriteDomesticScheduledConsentResponse2"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "TPPOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/domestic-scheduled-payments": {
      "post": {
        "tags": [
          "Domestic Scheduled Payments"
        ],
        "summary": "Create Domestic Scheduled Payments",
        "operationId": "CreateDomesticScheduledPayments",
        "parameters": [
          {
            "in": "body",
            "name": "OBWriteDomesticScheduled2Param",
            "description": "Default",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OBWriteDomesticScheduled2"
            }
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-idempotency-key",
            "in": "header",
            "description": "Every request will be processed only once per x-idempotency-key.  The Idempotency Key will be valid for 24 hours.",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "pattern": "^(?!\\s)(.*)(\\S)$"
          },
          {
            "name": "x-jws-signature",
            "in": "header",
            "description": "A detached JWS signature of the body of the payload.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Domestic Scheduled Payments Created",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "$ref": "#/definitions/OBWriteDomesticScheduledResponse2"
            },
            "schema": {
              "$ref": "#/definitions/OBWriteDomesticScheduledResponse2"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "PSUOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/domestic-scheduled-payments/{DomesticScheduledPaymentId}": {
      "get": {
        "tags": [
          "Domestic Scheduled Payments"
        ],
        "summary": "Get Domestic Scheduled Payments",
        "operationId": "GetDomesticScheduledPaymentsDomesticScheduledPaymentId",
        "parameters": [
          {
            "name": "DomesticScheduledPaymentId",
            "in": "path",
            "description": "DomesticScheduledPaymentId",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeid",
            "in": "query",
            "description": "Store ID",
            "required": true,
            "type": "string",
            "x-example": "201"
          },
          {
            "name": "x-userId",
            "in": "header",
            "description": "User Id of the registered application",
            "required": true,
            "type": "string",
            "x-example": "3e0cb4e66d5152"
          },
          {
            "name": "x-projectId",
            "in": "header",
            "description": "Project Id of the registered application",
            "required": true,
            "type": "string",
            "x-example": "3e0cb4e66d5152"
          },
          {
            "name": "x-teamId",
            "in": "header",
            "description": "Team Id of the registered application",
            "required": true,
            "type": "string",
            "x-example": "3e0cb4e66d5152"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Domestic Scheduled Payments Read",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "$ref": "#/definitions/OBWriteDomesticScheduledResponse2"
            },
            "schema": {
              "$ref": "#/definitions/OBWriteDomesticScheduledResponse2"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "TPPOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/domestic-standing-order-consents": {
      "post": {
        "tags": [
          "Domestic Standing Orders"
        ],
        "summary": "Create Domestic Standing Order Consents",
        "operationId": "CreateDomesticStandingOrderConsents",
        "parameters": [
          {
            "in": "body",
            "name": "OBWriteDomesticStandingOrderConsent2Param",
            "description": "Default",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OBWriteDomesticStandingOrderConsent2"
            }
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-idempotency-key",
            "in": "header",
            "description": "Every request will be processed only once per x-idempotency-key.  The Idempotency Key will be valid for 24 hours.",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "pattern": "^(?!\\s)(.*)(\\S)$"
          },
          {
            "name": "x-jws-signature",
            "in": "header",
            "description": "A detached JWS signature of the body of the payload.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Domestic Standing Order Consents Created",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "$ref": "#/definitions/OBWriteDomesticStandingOrderConsentResponse2"
            },
            "schema": {
              "$ref": "#/definitions/OBWriteDomesticStandingOrderConsentResponse2"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "TPPOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/domestic-standing-order-consents/{ConsentId}": {
      "get": {
        "tags": [
          "Domestic Standing Orders"
        ],
        "summary": "Get Domestic Standing Order Consents",
        "operationId": "GetDomesticStandingOrderConsentsConsentId",
        "parameters": [
          {
            "name": "ConsentId",
            "in": "path",
            "description": "ConsentId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "storeid",
            "in": "query",
            "description": "Store ID",
            "required": true,
            "type": "string",
            "x-example": "201"
          },
          {
            "name": "x-userId",
            "in": "header",
            "description": "User Id of the registered application",
            "required": true,
            "type": "string",
            "x-example": "3e0cb4e66d5152"
          },
          {
            "name": "x-projectId",
            "in": "header",
            "description": "Project Id of the registered application",
            "required": true,
            "type": "string",
            "x-example": "3e0cb4e66d5152"
          },
          {
            "name": "x-teamId",
            "in": "header",
            "description": "Team Id of the registered application",
            "required": true,
            "type": "string",
            "x-example": "3e0cb4e66d5152"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Domestic Standing Order Consents Read",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "$ref": "#/definitions/OBWriteDomesticStandingOrderConsentResponse2"
            },
            "schema": {
              "$ref": "#/definitions/OBWriteDomesticStandingOrderConsentResponse2"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "TPPOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/domestic-standing-orders": {
      "post": {
        "tags": [
          "Domestic Standing Orders"
        ],
        "summary": "Create Domestic Standing Orders",
        "operationId": "CreateDomesticStandingOrders",
        "parameters": [
          {
            "in": "body",
            "name": "OBWriteDomesticStandingOrder2Param",
            "description": "Default",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OBWriteDomesticStandingOrder2"
            }
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-idempotency-key",
            "in": "header",
            "description": "Every request will be processed only once per x-idempotency-key.  The Idempotency Key will be valid for 24 hours.",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "pattern": "^(?!\\s)(.*)(\\S)$"
          },
          {
            "name": "x-jws-signature",
            "in": "header",
            "description": "A detached JWS signature of the body of the payload.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Domestic Standing Orders Created",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "$ref": "#/definitions/OBWriteDomesticStandingOrderResponse2"
            },
            "schema": {
              "$ref": "#/definitions/OBWriteDomesticStandingOrderResponse2"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "PSUOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/file-payment-consents": {
      "post": {
        "tags": [
          "File Payments"
        ],
        "summary": "Create File Payment Consents",
        "operationId": "CreateFilePaymentConsents",
        "parameters": [
          {
            "in": "body",
            "name": "OBWriteFileConsent2Param",
            "description": "Default",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OBWriteFileConsent2"
            }
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-idempotency-key",
            "in": "header",
            "description": "Every request will be processed only once per x-idempotency-key.  The Idempotency Key will be valid for 24 hours.",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "pattern": "^(?!\\s)(.*)(\\S)$"
          },
          {
            "name": "x-jws-signature",
            "in": "header",
            "description": "A detached JWS signature of the body of the payload.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "File Payment Consents Created",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "$ref": "#/definitions/OBWriteFileConsentResponse2"
            },
            "schema": {
              "$ref": "#/definitions/OBWriteFileConsentResponse2"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "TPPOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/file-payment-consents/{ConsentId}": {
      "get": {
        "tags": [
          "File Payments"
        ],
        "summary": "Get File Payment Consents",
        "operationId": "GetFilePaymentConsentsConsentId",
        "parameters": [
          {
            "name": "ConsentId",
            "in": "path",
            "description": "ConsentId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "File Payment Consents Read",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "$ref": "#/definitions/OBWriteFileConsentResponse2"
            },
            "schema": {
              "$ref": "#/definitions/OBWriteFileConsentResponse2"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "TPPOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/file-payment-consents/{ConsentId}/file": {
      "get": {
        "tags": [
          "File Payments"
        ],
        "summary": "Get File Payment Consents",
        "operationId": "GetFilePaymentConsentsConsentIdFile",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "ConsentId",
            "in": "path",
            "description": "ConsentId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "File Payment Consents Read",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "type": "file"
            },
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "TPPOAuth2Security": [
              "payments"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "File Payments"
        ],
        "summary": "Create File Payment Consents",
        "operationId": "CreateFilePaymentConsentsConsentIdFile",
        "consumes": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "FileParam",
            "description": "Default",
            "required": true,
            "schema": {
              "$ref": "#/definitions/File"
            }
          },
          {
            "name": "ConsentId",
            "in": "path",
            "description": "ConsentId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-idempotency-key",
            "in": "header",
            "description": "Every request will be processed only once per x-idempotency-key.  The Idempotency Key will be valid for 24 hours.",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "pattern": "^(?!\\s)(.*)(\\S)$"
          },
          {
            "name": "x-jws-signature",
            "in": "header",
            "description": "A detached JWS signature of the body of the payload.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "File Payment Consents Created",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              }
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "TPPOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/file-payments": {
      "post": {
        "tags": [
          "File Payments"
        ],
        "summary": "Create File Payments",
        "operationId": "CreateFilePayments",
        "parameters": [
          {
            "in": "body",
            "name": "OBWriteFile2Param",
            "description": "Default",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OBWriteFile2"
            }
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-idempotency-key",
            "in": "header",
            "description": "Every request will be processed only once per x-idempotency-key.  The Idempotency Key will be valid for 24 hours.",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "pattern": "^(?!\\s)(.*)(\\S)$"
          },
          {
            "name": "x-jws-signature",
            "in": "header",
            "description": "A detached JWS signature of the body of the payload.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "File Payments Created",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "$ref": "#/definitions/OBWriteFileResponse2"
            },
            "schema": {
              "$ref": "#/definitions/OBWriteFileResponse2"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "PSUOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/file-payments/{FilePaymentId}": {
      "get": {
        "tags": [
          "File Payments"
        ],
        "summary": "Get File Payments",
        "operationId": "GetFilePaymentsFilePaymentId",
        "parameters": [
          {
            "name": "FilePaymentId",
            "in": "path",
            "description": "FilePaymentId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "File Payments Read",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "$ref": "#/definitions/OBWriteFileResponse2"
            },
            "schema": {
              "$ref": "#/definitions/OBWriteFileResponse2"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "TPPOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/file-payments/{FilePaymentId}/report-file": {
      "get": {
        "tags": [
          "File Payments"
        ],
        "summary": "Get File Payments",
        "operationId": "GetFilePaymentsFilePaymentIdReportFile",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "FilePaymentId",
            "in": "path",
            "description": "FilePaymentId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "File Payments Read",
            "headers": {
              "x-fapi-interaction-id": {
                "type": "string",
                "description": "An RFC4122 UID used as a correlation id."
              },
              "x-jws-signature": {
                "type": "string",
                "description": "Header containing a detached JWS signature of the body of the payload."
              }
            },
            "responseSchema": {
              "type": "file"
            },
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Bad request",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Number in seconds to wait"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "responseSchema": {
              "$ref": "#/definitions/OBErrorResponse1"
            },
            "schema": {
              "$ref": "#/definitions/OBErrorResponse1"
            }
          }
        },
        "security": [
          {
            "TPPOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/international-payment-consents": {
      "post": {
        "tags": [
          "International Payments"
        ],
        "summary": "Create International Payment Consents",
        "operationId": "CreateInternationalPaymentConsents",
        "parameters": [
          {
            "in": "body",
            "name": "OBWriteInternationalConsent2Param",
            "description": "Default",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OBWriteInternationalConsent2"
            }
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
[...]
